<!DOCTYPE html>
<html>
  <head>
    <title>Exp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Exp</h1>
    <p>Welcome to Express</p>

    <form action="/send" method="POST" enctype="multipart/form-data">
      <input type="file" name="pic" required><br><br>
      <button type="submit">Send to backend</button>
    </form>

    <p> User data:</p>
   
    <% if (typeof data != "undefined") { %>
    <p> <%=  data %></p>
    <% } %>

  </body>
  <script>
  </script>
</html>
