<!DOCTYPE html>
<html>
  <head>
    <title>SAAS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Google Vision API</h1>

    <!-- This form should be replaced with image upload   -->
    <form action="/send" method="POST">
      First name: <input type="text" name="fname"><br>
      <button type="submit">Send to backend</button>
    </form>

  <!--    Display the labels here-->
    <p> Labels :</p>
    <!--    Checking the type of data and displaying the image, because initially data will be undefined
        Only after post request , index page will have the data-->
  <!--    We need html to display all the labels here-->
    <% if (typeof data != "undefined") { %>
    <p> <%=  data %></p>
    <% } %>
  </body>
</html>
