<!DOCTYPE html>
<html>
<head>
  <title>SAAS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<center>
  <h1 class="a">Welcome to Google Vision API</h1>
  <!-- This form should be replaced with image upload   -->
  <div class="div1">
    <form action="/send" method="POST" enctype="multipart/form-data">
      <br>
      <u>Upload image:</u>  <input class="btn btn-default" type="file" name="pic" required>
      <br>
      <br>
      <br>
      <button type="submit" class="btn btn-default">Send Post</button>
      <br>
      <br>
    </form>
  </div>
</center>
<!--    Display the labels here-->
<div class="div2">
  <h1><b><u><p>Labels :</p></u></b></h1>
  <h3><b><u><p>Your Photo:</p></u></b></h3>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;
  <div class="col-md-4">
    <div class="panel panel-widget">
      <div class="panel-body">
        <ul class="basic-list">
          <% if (typeof data != "undefined") { %>
            <% result.forEach(result => { %>
              <li><b><%= result.description %></b><span class="right label label-happy"><%= result.score*100 %>%</span></li>
            <% }); %>
          <% } %>
        </ul>
      </div>
    </div>
    <!-- End Browser Stats -->
  </div>

</div>
</body>
</html>
